# Fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de build et dépendances
node_modules/
target/
build/
dist/
*.class
*.jar
*.war

# Fichiers de configuration et secrets
*.env
Wallet_*/
*.pem
*.key

# Fichiers IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Logs
*.log
logs/

# Autres
*.tmp
*.bak
